body {
	background-image:url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTQk37g9AB-C7v4l14eJgy_VzE7eGpd23MsmvhLCvUadpze30v9");
	background-size:cover;
	background-position:center center;
} 

